examples/hdl_bitstring
examples/hdl
examples/test.v
examples/*.gv
examples/*.svg
examples/proof.cnf
examples/hdl_proof
examples/hdl_dsl
examples/hdl_proof_z3
examples/hdl_known_bits
tests/test_hdl
tests/test_bitstring
tests/test_textir
tests/test_flatten
tests/test_analysis
tests/graphs/*
!tests/graphs/.empty
tools/*.v
tools/*.textir
tools/*.svg
tools/hdl.d
tools/hdl.so
assets/
